@import "colors";

body {
  background-color: $dark0;
  color: $light1;
  font-family: 'Share', cursive;
  font-size: 16pt;
  padding: 0;
  margin: 0;

  &.light {
    background-color: $light1;
    color: $dark0;
  }
}

#Wrapper {
  padding: 0rem;

  section {
    padding: 1rem;
  }
}

header {
  text-align: center;
  margin-bottom: 6rem;

  img {
    width: 25%;
    margin-top: 2rem;
  }

  h1 {
    margin-top: 0;
    font-weight: normal;
    color: $neutral_purple;
    text-decoration: underline;
  }
}

input[type=text],
input[type=number],
input[type=password]
{
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  font-family: 'Share', cursive;
  background-color: $light1;
  color: $dark0;
  border: 0;
  font-size: 16pt;
  outline-color: $faded_aqua;

  &::placeholder {
    color: $dark3;
  }

  &:focus {
    background-color: $bright_blue;
  }


}

input[type=submit] {
  box-sizing: border-box;
  margin-top: 6rem;
  font-family: "Share", cursive;
  font-size: 16pt;
  border: 2px solid $light1;
  color: $light1;
  background-color: transparent;
  padding: 0.5rem 1rem;
  outline-color: $faded_aqua;

  &:focus,
  &:hover {
    border-color: $faded_aqua;
    color: $neutral_aqua;
  }
}

#Login {

  max-width: 280px;
  margin: 2rem auto;

  label, input[type=text], input[type=password], input[type=submit] {
    display: block;
    width: 280px;
  }

  input[type=text], input[type=password] {
    margin-bottom: 1rem;
  }
}

.messages {
  list-style-type: none;
  padding-left: 0;

  li {
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
  }

  .error {
    background-color: $faded_red;
  }
}

nav {
  background-color: $dark1;
  height: 100px;
  display: flex;

  img {
    width: 64px;
    margin: (100px - 64px) / 2;
  }

  h1 {
    line-height: 100px;
    margin: 0 1rem;
    font-weight: normal;
    color: $neutral_purple;
    text-decoration: underline;
  }

  > div {
    margin-left: 4rem;
    flex-grow: 100;

    a {
      line-height: 100px;
      color: $light0;
    }
  }

  .tridots {
    width: 60px;
    flex-grow: 0;
    span {
      color: $light0;
      line-height: 100px;
      cursor: pointer;
      text-decoration: none;
      font-weight: bolder;
      padding: 1rem 1rem;
    }

    .submenu {
      display: none;
      position: absolute;
      top: 100px;
      right: 0;
      background-color: $dark3;
      a {
        line-height: 60px;
        padding: 1rem 2rem;
      }
    }

    &.open {
      .submenu {
        display: block;
      }
    }
  }
}