@import "colors";

body {
  background-color: $dark0;
  color: $light1;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16pt;
  padding: 0;
  margin: 0;

  &.light {
    background-color: $light1;
    color: $dark0;
  }
}

#Wrapper {
  padding: 0;

  section {
    padding: 1rem 0;
  }
}

// Only on login page
header {
  text-align: center;
  margin-bottom: 6rem;

  img {
    width: 25%;
    max-width: 80px;
    margin-top: 2rem;
  }

  h1 {
    margin-top: 0;
    font-weight: normal;
    color: $neutral_purple;
    text-decoration: underline;
  }
}

#Login {

  input[type=text],
  input[type=number],
  input[type=password]
  {
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    font-family: 'Titillium Web', sans-serif;
    background-color: $light1;
    color: $dark0;
    border: 0;
    font-size: 16pt;
    outline-color: $faded_aqua;

    &::placeholder {
      color: $dark3;
    }

    &:focus {
      background-color: $bright_blue;
    }


  }

  input[type=submit] {
    box-sizing: border-box;
    margin-top: 6rem;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16pt;
    border: 2px solid $light1;
    color: $light1;
    background-color: transparent;
    padding: 0.5rem 1rem;
    outline-color: $faded_aqua;

    &:focus,
    &:hover {
      border-color: $faded_aqua;
      color: $neutral_aqua;
    }
  }

  max-width: 280px;
  margin: 2rem auto;

  label, input[type=text], input[type=password], input[type=submit] {
    display: block;
    width: 280px;
  }

  input[type=text], input[type=password] {
    margin-bottom: 1rem;
  }
}

.messages {
  list-style-type: none;
  padding-left: 0;
  margin: 1rem auto;
  max-width: 640px;
  color: $light0;

  li {
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
  }

  .error {
    background-color: $faded_red;
  }
}

nav {
  background-color: $dark1;
  height: 100px;
  display: flex;

  img {
    width: 64px;
    margin: (100px - 64px) / 2;
  }

  h1,
  h1 > a {
    line-height: 100px;
    margin: 0 1rem 0 0;
    font-weight: normal;
    color: $neutral_purple;
    text-decoration: underline;
  }

  .carSelector {
    line-height: 100px;
    color: $light0;
    margin-left: 0;
    font-size: 1.5em;

    ol {
      list-style-type: none;
      margin:0;
      padding-left: 0;
    }
  }

  > div {
    flex-grow: 100;

    a {
      line-height: 100px;
      color: $light0;
    }
  }

  .tridots {
    width: 60px;
    flex-grow: 0;
    span {
      color: $light0;
      line-height: 100px;
      cursor: pointer;
      text-decoration: none;
      font-weight: bolder;
      padding: 1rem 1rem;
    }

    .submenu {
      display: none;
      position: absolute;
      top: 100px;
      right: 0;
      background-color: $dark3;
      a {
        line-height: 60px;
        padding: 1rem 2rem;
      }
    }

    &.open {
      .submenu {
        display: block;
      }
    }
  }
}

#Add {
  position: fixed;
  bottom: 1rem;
  right: 1rem;

  a {
    display: block;
    line-height: 80px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    box-shadow: 2px 2px 4px $dark4;
    background-color: $bright_blue;
    color: $light0;
  }
}

@media all and (min-width: 480px) {
  #Add {
    bottom: 3rem;
    right: 3rem;
  }
}

#AddForm {

  max-width: 640px;
  margin: 2rem auto;

  label {
    color: $dark4;
  }

  .row {
    padding-left: 64px;

    &.button {
      text-align: right;
      margin-right: 4px;
    }
  }

  .check {
    padding-left: 90px;
    padding-top: 48px;
    padding-bottom: 32px;

    table {
      border: 1px dashed $dark0;
      width: 280px;
      background-color: $light1;
      th, td {
        padding: 0.5rem 1rem;
      }
      td {
        text-align: right;

        &.invalid {
          color: $neutral_red;
          text-decoration: underline;
        }
      }
      th {
        width: 3rem;
        text-align: left;
      }
    }

  }

  h3 {
    font-size: 1rem;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0;
    color: $dark4;
  }

  input[type=text],
  input[type=number],
  input[type=password],
  input[type=datetime-local]
  {
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    font-family: 'Titillium Web', sans-serif;
    background-color: $light1;
    color: $dark0;
    border: 2px solid $dark0;
    font-size: 16pt;
    outline-color: $faded_aqua;

    &::placeholder {
      color: $dark3;
    }

    &:focus {
      background-color: $bright_blue;
    }


  }

  input[type=submit], button {
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    font-size: 19px;
    border: 2px solid $dark0;
    color: $dark0;
    background-color: $light1;
    padding: 0.5rem 1rem;
    outline-color: $faded_aqua;
    box-shadow: $dark4 1px 1px 3px;

    &:focus,
    &:hover {
      border-color: $faded_aqua;
      color: $neutral_aqua;
      box-shadow: $dark4 0 0 2px;
    }
  }



  label, input[type=text],
  input[type=number],
  input[type=datetime-local]
  {
    display: block;
    width: 280px;
  }

  input[type=text], input[type=password] {
    margin-bottom: 1rem;
  }

  textarea {
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16pt;
    border: 2px solid $dark0;
    color: $dark0;
    background-color: $light1;
    padding: 0.5rem 1rem;
    outline-color: $faded_aqua;

    &:focus {
      background-color: $bright_blue;
    }
  }

  .btnGroup {
    width: 280px;
  }

  .hide {
    display: none!important;
  }

  h3 {
    height: 22px;
    margin-bottom: 0;
    padding-bottom: 16px;
    background-repeat: no-repeat;

    span {
      background-color: $light1;
      padding-right: 0.25rem;
    }
  }

  // connection lines
  .addTripStart {
    background-image: url('lines/start.svg');
    background-position: -116px 0px;
  }

  .addTarget,
  .addTripEnd
  {
    background-image: url('lines/target.svg');
    background-position: -116px 0px;
    margin-top: 0;
    padding-bottom: 8px;
  }

  .row {
    background-image: url('lines/inputs.svg');
    background-position: -116px 0px;
    padding-bottom: 16px;

    &.selection {
      //background-image: none;
    }

    &.lastBeforeCheck {
      padding-bottom: 0;
    }
  }

  .check {
    background-image: url('lines/check.svg');
    background-position: -116px 0px;
  }

  .btnGroup {
    padding-top: 32px;
    padding-bottom: 32px;

    &.on0 {
      background-image: url('lines/selection0.svg');
      background-color: $light1;
      background-position: (-116px - 64px) 0px;
    }

    &.on1 {
      background-image: url('lines/selection1.svg');
      background-color: $light1;
      background-position: (-116px - 64px) 0px;
    }

  }

  .note {
    background-image: url('lines/note.svg');
    background-position: (-116px) 0px;
    padding-bottom: 16px;
  }

  .row.button {
    background-image: url('lines/button.svg');
    background-position: (-116px) 0px;
  }

  #PlaceEnd {
    margin-bottom: 0;
  }

}

.btnGroup {
  font-size: 0;
  display: flex;

  button {
    flex: 1;
    outline: none;

    &.on {
      background-color: $light2!important;
    }
  }

  button:first-of-type {
    margin-left: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  button:last-of-type {
    margin-right: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.trip {
  max-width: 480px;
  display: grid;
  grid-template-columns: 64px auto;
  grid-gap:  8px 16px;
  grid-template-rows: 48px 64px 24px auto 36px 24px;
  justify-items: stretch;
  align-items: stretch;
  padding: 8px;
  box-sizing: border-box;
  background: repeating-linear-gradient(45deg, $light0 0, $light1 2px, $light1 5px, $light0 6px);
  margin: 0 auto 8px;

  &.done {
    background: $light0;
  }

  &.personal {
    background: darken($light0, 2);
  }

  &.highlighted {
    border: 1px solid $bright_aqua;
  }

  .icon {
    grid-column: 1 / 1;
    grid-row: 1 / 3;

    width: 64px; height: 64px;
    border-radius: 32px;
    display: inline-block;
    line-height: 64px - 12px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    border-width: 6px;
    border-style: solid;
    box-sizing: border-box;
  }

  &.mine .icon {
    border-radius: 20px;
  }

  .editorIcon {
    grid-column: 1 / 1;
    grid-row: 3 / 6;
    justify-self: center;

    width: 40px; height: 40px;
    border-radius: 20px;
    display: inline-block;
    line-height: 40px - 6px;
    text-align: center;
    font-size: 16px;
    border-width: 3px;
    border-style: solid;
    box-sizing: border-box;
  }

  .times {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    display: flex;
    font-size: 1.1rem;

    div {
      text-align: center;
    }

    .toSign {
      padding: 0.7rem 1rem;
    }

    div span {
      display: block;
      font-size: 1rem;
    }

    .start {
      font-weight: bold;
    }

  }

  .places {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    display: flex;
    font-size: 1.1rem;
    align-self: center;

    .toSign {
      padding: 0 0.2rem;
    }

    .andBack {
      padding: 0.3rem 1rem;
    }

    .target {
      font-weight: bold;
    }
  }

  .summary {
    grid-column: 2 / 3;
    grid-row: 5 / 5;

    font-size: 1.8rem;
    line-height: 36px;



    > div {
      display: inline-block;
    }

    span {
      font-size: 1rem;
      color: $dark2
    }
  }

  .actions {
    grid-column: 1 / 3;
    grid-row: 6 / 6;

    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 4px;
    }
  }

  .client {
    grid-column: 2 / 2;
    grid-row: 3 / 3;

    font-size: 1rem;

    &.personal {
      padding-left: 1rem;
      font-style: italic;
    }
  }

  .note {
    grid-column: 2 / 2;
    grid-row: 4 / 4;

    font-size: 1rem;

    p {
      margin: 0;
    }
  }
}

@media all and (min-width: 480px){
  .trip {
    grid-template-rows: 48px 36px 24px auto 24px;
    grid-template-columns: 64px auto 80px;

    .times,
    .places
    {
      font-size: 1.3rem;
    }

    .summary {
      grid-column: 3 / 3;
      grid-row: 1 / 4;

      text-align: center;
      align-self: center;

      > div {
        display: block;
      }
    }

    .actions {
      grid-row: 5 / 5;
      grid-column: 1 / 4;
    }
  }
}

.space {
  max-width: 480px;
  box-sizing: border-box;
  background: repeating-linear-gradient(45deg, lighten($neutral_red, 32) 0, $light1 2px, $light1 5px, lighten($neutral_red, 32) 6px);
  padding: 8px;
  margin: 0 auto 8px;

  display: flex;
  justify-items: flex-end;

  > p {
    margin: 0;
    flex-grow: 2;
    padding-left: 1rem;

  }

  .actions {
    form {
      display: inline;
    }
  }
}

button.inline {
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  font-size: 0.9rem;
  border: 2px solid $dark0;
  color: $dark0;
  background-color: $light1;
  padding: 0 0.6rem;
  outline-color: $faded_aqua;
  box-shadow: $dark4 1px 1px 3px;

  &:focus,
  &:hover {
    border-color: $faded_aqua;
    color: $neutral_aqua;
    box-shadow: $dark4 0 0 2px;
  }

  &.danger {
    &:hover {
      border-color: $faded_red;
      color: $faded_red;
    }
  }
}

span.unit {
  font-size: 1rem;
  color: $dark2;
  text-transform: uppercase;

}

@media all and (min-width: 480px)
{
  #Wrapper {
    padding: 0;

    section {
      padding: 1rem 1rem;
    }
  }
}