/* source: https://github.com/morhetz/gruvbox/blob/master/colors/gruvbox.vim */
body {
  background-color: #282828;
  color: #ebdbb2;
  font-family: "Share", cursive;
  font-size: 16pt;
  padding: 0;
  margin: 0;
}
body.light {
  background-color: #ebdbb2;
  color: #282828;
}

#Wrapper {
  padding: 0rem;
}
#Wrapper section {
  padding: 1rem;
}

header {
  text-align: center;
  margin-bottom: 6rem;
}
header img {
  width: 25%;
  margin-top: 2rem;
}
header h1 {
  margin-top: 0;
  font-weight: normal;
  color: #b16286;
  text-decoration: underline;
}

#Login {
  max-width: 280px;
  margin: 2rem auto;
}
#Login input[type=text],
#Login input[type=number],
#Login input[type=password] {
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  font-family: "Share", cursive;
  background-color: #ebdbb2;
  color: #282828;
  border: 0;
  font-size: 16pt;
  outline-color: #427b58;
}
#Login input[type=text]::placeholder,
#Login input[type=number]::placeholder,
#Login input[type=password]::placeholder {
  color: #665c54;
}
#Login input[type=text]:focus,
#Login input[type=number]:focus,
#Login input[type=password]:focus {
  background-color: #83a598;
}
#Login input[type=submit] {
  box-sizing: border-box;
  margin-top: 6rem;
  font-family: "Share", cursive;
  font-size: 16pt;
  border: 2px solid #ebdbb2;
  color: #ebdbb2;
  background-color: transparent;
  padding: 0.5rem 1rem;
  outline-color: #427b58;
}
#Login input[type=submit]:focus, #Login input[type=submit]:hover {
  border-color: #427b58;
  color: #689d6a;
}
#Login label, #Login input[type=text], #Login input[type=password], #Login input[type=submit] {
  display: block;
  width: 280px;
}
#Login input[type=text], #Login input[type=password] {
  margin-bottom: 1rem;
}

.messages {
  list-style-type: none;
  padding-left: 0;
}
.messages li {
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
}
.messages .error {
  background-color: #9d0006;
}

nav {
  background-color: #3c3836;
  height: 100px;
  display: flex;
}
nav img {
  width: 64px;
  margin: 18px;
}
nav h1,
nav h1 > a {
  line-height: 100px;
  margin: 0 1rem;
  font-weight: normal;
  color: #b16286;
  text-decoration: underline;
}
nav .carSelector {
  line-height: 100px;
  color: #fbf1c7;
  margin-left: 0;
  font-size: 1.5em;
}
nav .carSelector ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
nav > div {
  margin-left: 4rem;
  flex-grow: 100;
}
nav > div a {
  line-height: 100px;
  color: #fbf1c7;
}
nav .tridots {
  width: 60px;
  flex-grow: 0;
}
nav .tridots span {
  color: #fbf1c7;
  line-height: 100px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bolder;
  padding: 1rem 1rem;
}
nav .tridots .submenu {
  display: none;
  position: absolute;
  top: 100px;
  right: 0;
  background-color: #665c54;
}
nav .tridots .submenu a {
  line-height: 60px;
  padding: 1rem 2rem;
}
nav .tridots.open .submenu {
  display: block;
}

#Add {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
}
#Add a {
  display: block;
  line-height: 80px;
  text-align: center;
  text-decoration: none;
  font-size: 60px;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  box-shadow: 2px 2px 4px #7c6f64;
  background-color: #83a598;
  color: #fbf1c7;
}

#AddForm {
  max-width: 640px;
  margin: 2rem auto;
}
#AddForm label {
  color: #7c6f64;
}
#AddForm .row {
  padding-left: 64px;
}
#AddForm .row.button {
  padding-left: 320px;
}
#AddForm .check {
  padding-left: 128px;
  padding-top: 48px;
  padding-bottom: 32px;
}
#AddForm .check table {
  border: 1px dashed #282828;
  width: 280px;
  background-color: #ebdbb2;
}
#AddForm .check table th, #AddForm .check table td {
  padding: 0.5rem 1rem;
}
#AddForm .check table td {
  text-align: right;
}
#AddForm .check table td.invalid {
  color: #cc241d;
  text-decoration: underline;
}
#AddForm .check table th {
  width: 3rem;
  text-align: left;
}
#AddForm h3 {
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0px;
  color: #7c6f64;
}
#AddForm input[type=text],
#AddForm input[type=number],
#AddForm input[type=password],
#AddForm input[type=datetime-local] {
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  font-family: "Share", cursive;
  background-color: #ebdbb2;
  color: #282828;
  border: 2px solid #282828;
  font-size: 16pt;
  outline-color: #427b58;
}
#AddForm input[type=text]::placeholder,
#AddForm input[type=number]::placeholder,
#AddForm input[type=password]::placeholder,
#AddForm input[type=datetime-local]::placeholder {
  color: #665c54;
}
#AddForm input[type=text]:focus,
#AddForm input[type=number]:focus,
#AddForm input[type=password]:focus,
#AddForm input[type=datetime-local]:focus {
  background-color: #83a598;
}
#AddForm input[type=submit], #AddForm button {
  width: 80px;
  box-sizing: border-box;
  font-family: "Share", cursive;
  font-size: 16pt;
  border: 2px solid #282828;
  color: #282828;
  background-color: #ebdbb2;
  padding: 0.5rem 1rem;
  outline-color: #427b58;
  box-shadow: #7c6f64 1px 1px 3px;
}
#AddForm input[type=submit]:focus, #AddForm input[type=submit]:hover, #AddForm button:focus, #AddForm button:hover {
  border-color: #427b58;
  color: #689d6a;
  box-shadow: #7c6f64 0px 0px 2px;
}
#AddForm label, #AddForm input[type=text],
#AddForm input[type=number],
#AddForm input[type=datetime-local] {
  display: block;
  width: 280px;
}
#AddForm input[type=text], #AddForm input[type=password] {
  margin-bottom: 1rem;
}
#AddForm textarea {
  box-sizing: border-box;
  font-family: "Share", cursive;
  font-size: 16pt;
  border: 2px solid #282828;
  color: #282828;
  background-color: #ebdbb2;
  padding: 0.5rem 1rem;
  outline-color: #427b58;
}
#AddForm textarea:focus {
  background-color: #83a598;
}
#AddForm .btnGroup {
  width: 280px;
}
#AddForm .hide {
  display: none !important;
}
#AddForm h3 {
  height: 22px;
  margin-bottom: 0;
  padding-bottom: 16px;
  background-repeat: no-repeat;
}
#AddForm h3 span {
  background-color: #ebdbb2;
  padding-right: 0.25rem;
}
#AddForm .addTripStart {
  background-image: url("lines/start.svg");
  background-position: -116px 0px;
}
#AddForm .addTarget,
#AddForm .addTripEnd {
  background-image: url("lines/target.svg");
  background-position: -116px 0px;
  margin-top: 0;
  padding-bottom: 8px;
}
#AddForm .row {
  background-image: url("lines/inputs.svg");
  background-position: -116px 0px;
  padding-bottom: 16px;
}
#AddForm .row.lastBeforeCheck {
  padding-bottom: 0;
}
#AddForm .check {
  background-image: url("lines/check.svg");
  background-position: -116px 0px;
}
#AddForm .btnGroup {
  padding-top: 32px;
  padding-bottom: 32px;
}
#AddForm .btnGroup.on0 {
  background-image: url("lines/selection0.svg");
  background-color: #ebdbb2;
  background-position: -180px 0px;
}
#AddForm .btnGroup.on1 {
  background-image: url("lines/selection1.svg");
  background-color: #ebdbb2;
  background-position: -180px 0px;
}
#AddForm .note {
  background-image: url("lines/note.svg");
  background-position: -116px 0px;
  padding-bottom: 16px;
}
#AddForm .row.button {
  background-image: url("lines/button.svg");
  background-position: -116px 0px;
}
#AddForm #PlaceEnd {
  margin-bottom: 0;
}

.btnGroup {
  font-size: 0;
  display: flex;
}
.btnGroup button {
  flex: 1;
  outline: none;
}
.btnGroup button.on {
  background-color: #d5c4a1 !important;
}
.btnGroup button:first-of-type {
  margin-left: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.btnGroup button:last-of-type {
  margin-right: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.trip .icon {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  display: inline-block;
  line-height: 64px;
  text-align: center;
}
.trip .icon.light {
  color: #282828;
}
.trip .icon.dark {
  color: #ebdbb2;
}

/*# sourceMappingURL=all.css.map */
